html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.sheet {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sheet-body {
    width: 100%;
    height: 100%;
}

.sheet-header {
    margin-bottom: 0.5em;
    width: 100%;
    display: flex;

    .cell-selector {
        width: 5em;
        border: 0;
        border-right: 1px solid;
        text-align: center;
    }

    .invoke-function-builder {
        height: 1em;
        margin: auto 0.25em;
    }

    .input-area {
        width: 100%;
        border: 0;
        border-left: 1px solid;
    }
}